<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8" />
        <title>{{title}}</title>
        <!-- needed for adaptive design -->
        <meta description="{{{templateOptions.metaDescription}}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body {
            padding: 0;
            margin: 0;
            }
        </style>
        <!-- 
            include ecolytiq fonts stylesheet 
            This requires to distribute the `./static` dir to the developer site!
        -->
        <link rel="icon" type="image/png" href="static/favicon.png">
        <link rel="stylesheet" type="text/css" href="static/fonts.css">
        <link rel="stylesheet" type="text/css" href="static/styles.css">
        <link rel="stylesheet" type="text/css" href="static/fontawesome/css/solid.css">

        {{{redocHead}}}
    </head>
    <body>
      {{{redocHTML}}}
    </body>
</html>