openapi: 3.0.3

info:
  description: |
    APIs for the ecolytiq-Visa Offers Platform (VOP) integration
  version: v3-2024-02-06
  title: ecolytiq-VOP Integration
  contact:
    email: support@ecolytiq.com
    name: ecolytiq GmbH
    url: https://ecolytiq.com
  termsOfService: https://ecolytiq.com/imprint
  x-logo:
    url: "https://developer.ecolytiq.com/assets/logo.png"
    backgroundColor: "#132a38"
    altText: "ecolytiq GmbH"
servers:
  - description: ecolytiq API (Sandbox)
    url: https://api.sandbox.arm.ecolytiq.network
tags:



  - name: Transaction API
    description: |
      The transaction API is used to process financial transactions by the ecolytiq Sustainability-as-a-Service&reg; platform.

      It is possible to send transactions for enrichment and receive the calculated CO<sub>2</sub> footprint based on a combination of the transaction amount and transaction category. 
      
      For some types of transactions, this may, however, be insufficient as the amount of money spent does not directly correlate to the CO<sub>2</sub> (equivalent) emissions of the purchased goods and services.
      For example, airline ticket prices are becoming increasingly expensive the closer the date of travel is. But the amount of CO<sub>2</sub> emissions is independent of whether the ticket was bought last minute or a year in advance. 
      In such cases, the transaction data can be refined by answering specific transaction-related questions, like the duration of the flight, which will in turn allow for a much more accurate calculation of the CO<sub>2</sub> emissions.


paths:

  /vop/v1/transactions:
    post:
      operationId: postVopTransaction
      summary: Process a VOP transaction
      description: |
        This endpoint accepts transactions from VOP and processes them to compute their CO<sub>2</sub> amount. For a successful processing of a transaction, the following attributes are required. <br>
        <br><b>Required attributes:</b><br>
        1. <b>Transaction.VipTransactionId:</b> Unique transaction identifier assigned by Visa.<br>
        2. <b>Transaction.BillingAmount:</b> Transaction amount.<br>
        3. <b>Transaction.BillingCurrencyCode:</b> Transaction currency as ISO numerical code.<br>
        4. <b>Transaction.MerchantCategoryCode:</b> Transaction MCC category code.<br>
        5. <b>Transaction.MerchantCountryCode:</b> Transaction merchant's country as ISO numerical code.</a>.<br>
        6. <b>Transaction.TimeStampYYMMDD:</b> Transaction timestamp in `YYYY-MM-DD HH:MM:SS` format.<br>
        <br><b>Optional attributes:</b><br>
        1. <b>Transaction.VisaMerchantName:</b> Transaction merchant's name.<br>
      tags:
        - Transaction API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VopTransactionRequest'
            examples:
              Example request:
                $ref: '#/components/examples/Vop-Transaction-Request-Example'
      responses:
        '200':
          description: |
            Result of VOP Transaction processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VopTransactionResponse'
              examples:
                Response for Successful Transaction:
                  $ref: '#/components/examples/Vop-Transaction-Response-Success'
                Response for Failed Transaction - missing attribute:
                  $ref: '#/components/examples/Vop-Transaction-Response-Failure-Missing-Attribute'
                Response for Failed Transaction - internal error:
                  $ref: '#/components/examples/Vop-Transaction-Response-Failure-Internal-Error'

components:

  schemas:
    VopTransactionResponse:
      type: object
      properties:
        status_code:
          type: string
        error_msg:
          type: string

    VopTransactionRequest:
      type: object
      required:
        - externalUserId
        - messageElementsCollection
      properties:
        externalUserId:
          type: string
          description: Unique user ID assigned by VOP client during enrollment.
          example: a083e879-b37c-4307-9407-a9825d82800b
        messageElementsCollection:
          $ref: '#/components/schemas/MessageElementCollection'


    MessageElementCollection:
      type: object
      required:
        - messageElement
      properties:
        messageElement:
          $ref: '#/components/schemas/MessageElement'

    MessageElement:
      description: Holds information about VOP Transaction
      type: array
      minItems: 6
      items:
        $ref: '#/components/schemas/MessageElementItem'

    MessageElementItem:
      type: object
      required:
        - key
        - value
      properties:
        key:
          type: string
          description: Name of a VOP transaction data element
        value:
          type: string
          description: Value of a VOP transaction data element


  examples:

    Vop-Transaction-Response-Failure-Missing-Attribute:
      value:
        status_code: "100"
        error_msg: "BAD_REQUEST. Attribute: Transaction.VipTransactionId must not be blank."

    Vop-Transaction-Response-Failure-Internal-Error:
      value:
        status_code: "100"
        error_msg: "INTERNAL. An internal error occurred."

    Vop-Transaction-Response-Success:
      value:
        status_code: "0"
        error_msg: ""

    Vop-Transaction-Request-Example:
      value:
        externalUserId: a083e879-b37c-4307-9407-a9825d82800b
        messageElementsCollection:
          - key: "Transaction.VipTransactionId"
            value: "3423432423424"
          - key: "Transaction.BillingAmount"
            value: "1005"
          - key: "Transaction.BillingCurrencyCode"
            value: "840"
          - key: "Transaction.MerchantCategoryCode"
            value: "1101"
          - key: "Transaction.MerchantCountryCode"
            value: "840"
          - key: "Transaction.TimeStampYYMMDD"
            value: "2019-07-10T01:00:50"
          - key: "Transaction.VisaMerchantName"
            value: "A Merchant"


    MessageElementsCollectionExample:
      value:
        messageElement:
          - key: "Transaction.VipTransactionId"
            value: "3423432423424"
          - key: "Transaction.BillingAmount"
            value: "1005"
          - key: "Transaction.BillingCurrencyCode"
            value: "840"
          - key: "Transaction.MerchantCategoryCode"
            value: "1101"
          - key: "Transaction.MerchantCountryCode"
            value: "840"
          - key: "Transaction.TimeStampYYMMDD"
            value: "2019-07-10T01:00:50"
          - key: "Transaction.VisaMerchantName"
            value: "A Merchant"